<div class="overlay-wrapper" *ngIf="isOpen">
  <div class="dialog-content">
    <h2>Channel erstellen</h2>
    <p>Channels dienen deinem Team zur Kommunikation</p>
    <input type="text" [(ngModel)]="nameInput" placeholder="Please enter channel name" />
    <input type="text" [(ngModel)]="descriptionInput" placeholder="Please enter channel description" />
    <div class="actions">
      <button (click)="close()">Close</button>
      <button (click)="save()">Save</button>
    </div>
  </div>
</div>