@use "../../../mixins.scss" as m;
@use "../../../variables.scss" as v;

.login-main {
  height: 100vh;

  .fade-out {
    animation: fadeOut 1s forwards;
  }

  .fade-in {
    animation: fadeIn 1s forwards;
  }

  .login-intro {
    @include m.flexBox(row, center, center);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    background: linear-gradient(to bottom, v.$purple_2, v.$purple_1);

    .login-background-right {
      width: 50%;
      height: 100%;
      position: fixed;
      left: 50%;
      background: linear-gradient(to bottom, v.$purple_2, v.$purple_1);
      z-index: 6;
    }

    .login-background-left {
      width: 50%;
      height: 100%;
      position: fixed;
      left: 0;
      background: linear-gradient(to bottom, v.$purple_2, v.$purple_1);
      z-index: 7;
    }

    .login-intro-logo {
      width: 376px;
      height: 184px;
      animation: moveLeft 0.4s ease-in-out forwards;
      z-index: 7;
    }

    .login-intro-txt {
      @include m.flexBox(row, center, center);
      position: absolute;
      left: 0;
      width: 696px;
      height: 184px;
      z-index: 6;
      animation: flyOut 0.8s ease-in-out 1s forwards;

      span {
        @include m.styleFont("Nunito", 90px, 700, 1.5, white);
      }
    }
  }

  .login {
    @include m.flexBox(column, center, center);
    height: 100%;
    background-color: v.$purple_bg;

    .login-header {
      @include m.flexBox(row, space-between, center);
      width: 100%;
      margin-top: 50px;
      position: fixed;
      top: 0;

      .login-left {
        @include m.flexBox(row, flex-start, center);

        .logo {
          @include m.flexBox(row, flex-start, center);
          margin-left: 50px;
          opacity: 0;

          .logo-logo {
            width: 70px;
            height: 70px;
            margin-right: 10px;
          }

          .logo-name {
            height: 24px;
          }
        }

        h1 {
          @include m.styleFont("Nunito", 24px, 700, 28.8px, v.$purple_1);
        }
      }

      .register-route {
        @include m.flexBox(column, center, flex-end);
        @include m.styleFont("Nunito", 18px, 400, 21.6px, black);
        margin-right: 50px;

        a {
          margin-top: 12px;
          text-decoration: none;
          color: v.$purple_2;
          box-sizing: border-box;
          padding: 6px 12px;
          border-radius: 100px;
          transition: 125ms;

          &:hover {
            font-weight: 600;
            box-shadow: 0 0 0 1px v.$purple_2;
          }
        }
      }
    }

    .login-dialog {
      @include m.flexBox(column, center, center);
      height: auto;
      width: 606px;
      background-color: white;
      border-radius: 30px;
      box-sizing: border-box;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
      padding: 50px 60px;

      h2 {
        @include m.styleFont("Nunito", 46px, 700, 55.2px, v.$purple_1);
        margin: 0;
      }

      p {
        @include m.styleFont("Nunito", 20px, 400, 24px, black);
        text-align: center;
      }

      .email,
      .password {
        width: 100%;
        height: 60px;
        background-color: v.$purple_bg;
        border: none;
        border-radius: 100px;
        box-sizing: border-box;
        padding-left: 50px;
        margin-top: 20px;
        background-repeat: no-repeat;
        background-position: 15px center;
        background-size: 24px 24px;
        transition: 125ms box-shadow ease-in-out;

        &::placeholder {
          @include m.styleFont("Nunito", 18px, 500, 21.6px, v.$grey);
        }

        &:hover {
          box-shadow: 0 0 0 1px black;
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 0 1px v.$purple_1;
        }
      }

      .email {
        background-image: url("/img/mail.png");
      }

      .password {
        background-image: url("/img/lock.png");
      }

      .error-message {
        @include m.styleFont("Nunito", 14px, 400, 19.1px, red);
        width: 100%;
        height: 0;
        text-align: left;
      }

      a {
        @include m.styleFont("Nunito", 18px, 400, 21.6px, v.$purple_2);
        text-decoration: none;
        margin-top: 21px;
        text-align: center;
        box-sizing: border-box;
        padding: 6px 12px;
        border-radius: 100px;
        transition: 125ms;

        &:hover {
          font-weight: 600;
          background-color: v.$purple_bg;
          color: v.$purple_1;
        }
      }

      .login-border {
        width: 100%;
        margin-top: 20px;
        border: 1px solid v.$purple_4;
      }

      .login-border-word {
        @include m.styleFont("Nunito", 18px, 400, 24.55px);
        width: 80px;
        height: 35px;
        background-color: white;
        position: relative;
        bottom: 15px;
        text-align: center;
      }

      .login-google {
        @include m.flexBox(row, center, center);
        @include m.styleFont("Nunito", 18px, 400, 21.6px, v.$purple_1);
        width: 100%;
        height: 60px;
        background-color: v.$purple_bg;
        border: none;
        border-radius: 100px;
        box-sizing: border-box;
        cursor: pointer;
        padding: 30px;
        margin: 40px 0;
        transition: 75ms;

        img {
          margin-right: 20px;
        }

        &:hover {
          @include m.styleFont("Nunito", 18px, 700, 21.6px, v.$purple_1);
          box-shadow: 0 0 0 1px v.$purple_1;
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 0 1px v.$purple_1;
        }
      }

      .login-btn {
        @include m.flexBox(row, center, center);
        width: 100%;
        margin-bottom: 28px;

        .login-btn-register,
        .login-btn-guest {
          padding: 12px 20px;
          border-radius: 100px;
          border: none;
          cursor: pointer;
          transition: 75ms;
        }

        .login-btn-register {
          @include m.styleFont("Nunito", 18px, 700, 24.55px, white);
          background-color: v.$purple_1;
          margin-right: 32px;

          &:hover {
            background-color: v.$purple_2;
          }
        }

        .login-btn-guest {
          @include m.styleFont("Nunito", 18px, 700, 24.55px, v.$purple_1);
          box-shadow: 0 0 0 1px v.$purple_1;
          background-color: white;

          &:hover {
            background-color: v.$purple_1;
            color: white;
          }
        }
      }
    }

    .legal-infos {
      @include m.flexBox(row, space-around, center);
      width: 250px;
      position: fixed;
      bottom: 20px;

      a {
        @include m.styleFont("Nunito", 18px, 400, 21.6px, v.$purple_2);
        text-decoration: none;
        box-sizing: border-box;
        padding: 8px 12px;
        border-radius: 100px;
        transition: 125ms;

        &:hover {
          font-weight: 700;
          box-shadow: 0 0 0 1px v.$purple_2;
        }
      }
    }
  }

  .success-msg {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 50px;
    margin-bottom: 50px;
    height: 149px;
    width: 531px;
    background-color: v.$purple_2;
    border-radius: 12px 12px 0 12px;
    animation: moveRight 0.75s ease-in-out forwards;

    span {
      @include m.flexBox(row, center, center);
      @include m.styleFont("Nunito", 36px, 700, 49.1px, white);
      height: 100%;
    }
  }
}

@keyframes flyOut {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(44vw);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveRight {
  0% {
    right: -600px;
  }
  100% {
    right: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(50%, 50%) scale(0);
    display: none;
  }
  100% {
    opacity: 1;
  }
}
