@use "../../../mixins.scss" as m;
@use "../../../variables.scss" as v;

.login-main {
  height: 100vh;

  .login-intro {
    @include m.dNone;
    height: 100%;
    position: relative;
    background: linear-gradient(to bottom, v.$purple_2, v.$purple_1);

    img {
      position: absolute;
      z-index: 2;
      animation: moveLeft 1s ease-in-out forwards;
    }

    span {
      @include m.styleFont("Nunito", 90px, 700, 1.5, white);
      position: absolute;
      left: 50px;
      z-index: 1;
      opacity: 0;
      animation: flyOut 1s ease-in-out 1s forwards;
    }
  }

  .login {
    @include m.flexBox(column, center, center);
    height: 100%;
    background-color: v.$purple_bg;

    .login-header {
      @include m.flexBox(row, space-between, center);
      width: 100%;
      margin-top: 50px;
      position: fixed;
      top: 0;

      @media (max-width: 435px) {
        justify-content: center;
        margin-left: 0;
      }

      .login-left {
        @include m.flexBox(row, flex-start, center);

        .logo {
          @include m.flexBox(row, flex-start, center);
          margin-left: 75px;

          @media (max-width: 435px) {
            margin-left: 0;
          }

          .logo-logo {
            width: 70px;
            height: 70px;
            margin-right: 10px;
          }

          .logo-name {
            height: 24px;
          }
        }

        h1 {
          @include m.styleFont("Nunito", 24px, 700, 28.8px, v.$purple_1);
        }
      }

      .register-route {
        @include m.flexBox(column, center, flex-end);
        @include m.styleFont("Nunito", 18px, 400, 21.6px, black);
        margin-right: 50px;

        @media (max-width: 435px) {
          display: none;
        }

        a {
          margin-top: 12px;
          text-decoration: none;
          color: v.$purple_2;
          box-sizing: border-box;
          padding: 6px 12px;
          border-radius: 100px;
          transition: 125ms;

          &:hover {
            font-weight: 600;
            box-shadow: 0 0 0 1px v.$purple_2;
          }
        }
      }
    }

    .login-dialog {
      @include m.flexBox(column, center, center);
      height: auto;
      width: 606px;
      background-color: white;
      border-radius: 30px;
      box-sizing: border-box;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
      padding: 50px 60px;

      @media (max-width: 435px) {
        width: 100%;
        padding: 50px 20px;
      }

      h2 {
        @include m.styleFont("Nunito", 46px, 700, 55.2px, v.$purple_1);
        margin: 0;

        @media (max-width: 435px) {
          font-size: 32px;
          line-height: 1.2;
        }
      }

      p {
        @include m.styleFont("Nunito", 20px, 400, 24px, black);
        text-align: center;

        @media (max-width: 435px) {
          font-size: 17px;
          line-height: 1.2;
        }
      }

      input {
        width: 100%;
        height: 60px;
        background-color: v.$purple_bg;
        border: none;
        border-radius: 100px;
        box-sizing: border-box;
        padding: 30px;
        margin-top: 21px;

        @media (max-width: 435px) {
          height: 50px;
        }

        &::placeholder {
          @include m.styleFont("Nunito", 18px, 500, 21.6px, v.$grey);
        }

        &:hover {
          box-shadow: 0 0 0 1px black;
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 0 1px v.$purple_1;
        }
      }

      .error-message {
        @include m.styleFont("Nunito", 14px, 400, 19.1px, red);
        width: 100%;
        height: 0;
        text-align: left;
      }

      a {
        @include m.styleFont("Nunito", 18px, 400, 21.6px, v.$purple_2);
        text-decoration: none;
        margin-top: 21px;
        text-align: center;
        box-sizing: border-box;
        padding: 6px 12px;
        border-radius: 100px;
        transition: 125ms;

        @media (max-width: 435px) {
          font-weight: 17px;
        }

        &:hover {
          font-weight: 600;
          background-color: v.$purple_bg;
          color: v.$purple_1;
        }
      }

      .login-border {
        width: 100%;
        margin-top: 20px;
        border: 1px solid v.$purple_4;
      }

      .login-border-word {
        @include m.styleFont("Nunito", 18px, 400, 24.55px);
        width: 80px;
        height: 35px;
        background-color: white;
        position: relative;
        bottom: 15px;
        text-align: center;
      }

      .login-google {
        @include m.flexBox(row, center, center);
        @include m.styleFont("Nunito", 18px, 400, 21.6px, v.$purple_1);
        width: 100%;
        height: 60px;
        background-color: v.$purple_bg;
        border: none;
        border-radius: 100px;
        box-sizing: border-box;
        cursor: pointer;
        padding: 30px;
        margin: 40px 0;
        transition: 75ms;

        img {
          margin-right: 20px;
        }

        &:hover {
          @include m.styleFont("Nunito", 18px, 700, 21.6px, v.$purple_1);
          box-shadow: 0 0 0 1px v.$purple_1;
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 0 1px v.$purple_1;
        }
      }

      .login-btn {
        @include m.flexBox(row, center, center);
        width: 100%;
        margin-bottom: 28px;

        .login-btn-register,
        .login-btn-guest {
          padding: 12px 20px;
          border-radius: 100px;
          border: none;
          cursor: pointer;
          transition: 75ms;
        }

        .login-btn-register {
          @include m.styleFont("Nunito", 18px, 700, 24.55px, white);
          background-color: v.$purple_1;
          margin-right: 32px;

          &:hover {
            background-color: v.$purple_2;
          }
        }

        .login-btn-guest {
          @include m.styleFont("Nunito", 18px, 700, 24.55px, v.$purple_1);
          box-shadow: 0 0 0 1px v.$purple_1;
          background-color: white;

          &:hover {
            background-color: v.$purple_1;
            color: white;
          }
        }
      }
    }

    .legal-infos {
      @include m.flexBox(row, space-around, center);
      width: 250px;
      position: fixed;
      bottom: 20px;

      a {
        @include m.styleFont("Nunito", 18px, 400, 21.6px, v.$purple_2);
        text-decoration: none;
        box-sizing: border-box;
        padding: 8px 12px;
        border-radius: 100px;
        transition: 125ms;

        &:hover {
          font-weight: 700;
          box-shadow: 0 0 0 1px v.$purple_2;
        }
      }
    }
  }
}

@keyframes flyOut {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(120%);
    opacity: 1;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
