@use "../../../../mixins.scss" as m;
@use "../../../../variables.scss" as v;

h2 {
    margin: 0;
    @include m.styleFont("Nunito", 24px, 700, 37.74px);
}

.container {
    height: calc(100dvh - 139px);
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 30px;
    @include m.flexBox(column, normal, normal);
    @include m.styleFont();
}

.header {
    min-height: 96px;
    max-height: 96px;
    margin: 0 40px;
    @include m.flexBox(row, space-between, center, 10px);
}

.header-label {
    height: 46px;
    padding: 3px 10px;
    @include m.flexBox(row, center, center, 10px);
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.1s ease-in;

    span {
        @include m.styleFont("Nunito", 28px, 800);
    }

    &:hover {
        background: v.$purple_bg;

        span,
        h2 {
            color: v.$purple_3;
        }

        svg {
            transform: scale(1.1);

            path {
                fill: v.$purple_3;
            }
        }
    }
}

.member-container {
    height: 46px;
    @include m.flexBox(row, flex-end, center, 10px);
    position: relative;
}

.member {
    height: 46px;
    padding: 3px 10px;
    @include m.flexBox(row, center, center, 10px);
    position: relative;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.1s ease-in;

    &:hover {
        background: v.$purple_bg;

        .member-total {
            color: v.$purple_3;
        }
    }
}

.member-pics {
    @include m.flexBox(row, center, center);
    position: relative;
}

.member-avatar {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: -15px;

    &:first-child {
        margin-left: 0;
    }
}

.member-total {
    @include m.styleFont("Nunito", 20px, 600);
}

.add-member-container {
    @include m.flexBox(row, center, center);
    height: 40px;
    width: 40px;
    background: v.$purple_bg;
    border-radius: 50%;
    cursor: pointer;

    .add-member {
        &:hover {
            transform: scale(1.1);

            path {
                fill: v.$purple_3;
            }
        }
    }
}

.shadow {
    min-height: 5px;
    background: linear-gradient(to bottom, #00000014, #00000000);
}

.chat-container {
    @include m.flexBox(column, space-between, normal);
    overflow-y: auto;
    padding: 5px 0 0 0;
    flex-grow: 1;

    &::-webkit-scrollbar {
        width: 4px;
        border-radius: 5px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
    }

    &:hover::-webkit-scrollbar {
        background-color: v.$purple_4;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: v.$purple_2;
    }
}

.replies {
    @include m.flexBox(column, normal, normal);
}

.date-header {
    padding: 5px 0;
    @include m.styleFont("Nunito", 14px, 400, 24.55px, v.$purple_4);
    @include m.flexBox(row, center, center);

    .date {
        height: 28px;
        padding: 0 24px;
        @include m.flexBox(row, center, center);
        border: 1px solid v.$purple_4;
        border-radius: 20px;
        cursor: unset;
    }

    &::before {
        content: "";
        flex-grow: 1;
        height: 1px;
        background-color: v.$purple_4;
        margin-left: 20px;
    }

    &::after {
        content: "";
        flex-grow: 1;
        height: 1px;
        background-color: v.$purple_4;
        margin-right: 20px;
    }
}

.reply-container {
    padding: 1px 0;
    margin: 5px 0;

    &:hover {
        background-color: v.$purple_bg;

        .message-text {
            background-color: #FFFFFF;
        }

        .add-reactions-container {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.reply {
    margin: 10px 40px;
    @include m.flexBox(row, normal, normal, 20px);
}

.avatar {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.message {
    width: 100%;
    @include m.flexBox(column, normal, normal, 8px);
}

.message-info {
    @include m.flexBox(row, normal, center, 20px);
}

.message-info-name {
    @include m.styleFont("Nunito", 18px, 700, 24.55px);
    cursor: pointer;

    &:hover {
        color: v.$purple_1;
    }
}

.message-info-time {
    @include m.styleFont("Nunito", 14px, 400, 19.1px, v.$grey);
}

.message-text {
    @include m.styleFont("Nunito", 18px, 400, 24.55px);
    padding: 15px;
    gap: 8px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #ECEEFE;
}

.answer-info {
    @include m.flexBox(row, normal, center, 20px);
}

.answers {
    @include m.flexBox(row, normal, normal);
    @include m.styleFont("Nunito", 18px, 400, 24.55px, v.$purple_3);
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }
}

.last-answer {
    @include m.styleFont("Nunito", 14px, 400, 19.1px, v.$grey);
}

.no-replies-container {
    @include m.flexBox(column, flex-end, normal);
    flex-grow: 1;
}

.no-replies {
    @include m.flexBox(column, normal, normal, 7px);
    margin: 10px 45px 30px 45px;
}

.no-replies-header {
    @include m.flexBox(row, normal, normal, 10px);
    @include m.styleFont("Nunito", 24px, 700, 37.74px);

    span {
        @include m.styleFont("Nunito", 28px, 800);
    }
}

.no-replies-text {
    @include m.styleFont("Nunito", 20px, 400);

    span {
        color: v.$purple_3;
    }
}