@use "../../../mixins.scss" as m;
@use "../../../variables.scss" as v;

.reg-main {
  @include m.flexBox(column, flex-end, center);
  height: 100vh;

  .reg-header {
    width: 100%;

    .logo {
      @include m.flexBox(row, flex-start, center);
      margin-top: 50px;
      margin-left: 50px;

      .logo-logo {
        width: 70px;
        height: 70px;
        margin-right: 10px;
      }

      .logo-name {
        height: 24px;
      }
    }
  }

  .reg-dialog {
    @include m.flexBox(column, center, center);
    height: 700px;
    width: 606px;
    background-color: white;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    padding: 50px 60px;

    .reg-back-arrow {
      position: relative;
      width: 100%;
      top: 90px;
      left: 0;
      cursor: pointer;

      img {
        width: 17px;
        height: 17px;
      }
    }

    h2 {
      @include m.styleFont("Nunito", 46px, 700, 55.2px, v.$purple_1);
      margin-top: 50px;
    }

    p {
      @include m.styleFont("Nunito", 20px, 400, 24px, black);
      text-align: center;
    }

    input {
      width: 100%;
      height: 60px;
      background-color: v.$purple_bg;
      border: none;
      border-radius: 100px;
      box-sizing: border-box;
      padding: 30px;
      margin-top: 36px;

      &::placeholder {
        @include m.styleFont("Nunito", 18px, 500, 21.6px, v.$grey);
      }

      &:hover {
        box-shadow: 0 0 0 1px black;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 1px v.$purple_1;
      }
    }

    .error-message {        
      @include m.styleFont("Nunito", 14px, 400, 19.1px, red);
      width: 100%;
      height: 0;
      text-align: left;
      margin: 0;
    }

    a {
      @include m.styleFont("Nunito", 18px, 400, 21.6px, v.$purple_2);
      text-decoration: none;
      margin-top: 21px;
      text-align: center;
      box-sizing: border-box;
      padding: 6px;
      border-radius: 100px;
      transition: 125ms;

      &:hover {
        font-weight: 600;
        background-color: v.$purple_bg;
        color: v.$purple_1;
      }
    }

    .privacy {
      @include m.flexBox(row, flex-start, center);
      width: 100%;
      margin-top: 21px;

      input {
        height: 18px;
        width: 18px;
        border-color: v.$purple_1;
        margin: 0;
        margin-right: 12px;
      }

      span {
        @include m.styleFont("Nunito", 16px, 400, 19.2px, black);
      }
    }

    .register {
      @include m.flexBox(row, flex-end, flex-end);
      width: 100%;

      .reg-btn {
        @include m.styleFont("Nunito", 18px, 700, 24.55px, white);
        padding: 12px 20px;
        border-radius: 100px;
        border: none;
        cursor: pointer;
        margin-bottom: 45px;
        box-shadow: 0 0 0 1px v.$purple_1;
        background-color: v.$purple_1;
        transition: 125ms;

        &:hover {
          background-color: v.$purple_2;
          box-shadow: 0 0 0 1px v.$purple_2;
          color: white;
        }

        &:disabled {
          background-color: v.$grey;
          box-shadow: 0 0 0 1px v.$grey;
          cursor: not-allowed;
        }
      }
    }
  }

  .legal-infos {
    @include m.flexBox(row, space-around, center);
    width: 250px;
    height: 120px;
    margin-top: 50px;

    a {
      @include m.styleFont("Nunito", 18px, 400, 21.6px, v.$purple_2);
      text-decoration: none;
      box-sizing: border-box;
      padding: 8px 12px;
      border-radius: 100px;
      transition: 125ms;

      &:hover {
        font-weight: 700;
        box-shadow: 0 0 0 1px v.$purple_2;
      }
    }
  }
}
