@use "../../../../../mixins.scss" as m;
@use "../../../../../variables.scss" as v;

.overlay-backdrop {
    position: fixed;
    inset: 0; // top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.4); // leicht transparentes Schwarz
    z-index: 99; // liegt unter .member-overlay
}

.member-overlay {
    width: 398px;
    position: absolute;
    top: 120px;
    right: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 6px 10px 0px #00000033;
    z-index: 100;
    border: 1px solid #ADB0D9;
}

.member-cont {
    @include m.flexBox(column, normal, normal, 20px);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
}

.header {
    width: 100%;
    @include m.flexBox(row, space-between, center, 10px);
    @include m.styleFont("Nunito", 24px, 700, 37.74px);
}

.members {
    @include m.flexBox(column, normal, normal, 15px);
    @include m.styleFont("Nunito", 18px, 400);
}

.member-list {
    @include m.flexBox(column, normal, normal, 15px);
}