@use "../../../../../mixins.scss" as m;
@use "../../../../../variables.scss" as v;

// @include m.styleFont("Nunito", 90px, 700, 1.5, white);
// @include m.flexBox(row, center, center);

.show-channel-container {
  width: 872px;
  height: 616px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include m.flexBox(row, center, center);
  
  /* White */
  background: #FFFFFF;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0px 30px 30px 30px;
}

.show-channel-content {
  width: 100%;
  width: 100%;
}

.close-icon {
  cursor: pointer;
}


