@use "../../mixins.scss" as m;
@use "../../variables.scss" as v;

.login-main {
  @media (max-width: 630px) {
    padding: 0 20px;
  }

  .login {
    .login-dialog {
      @media (max-width: 630px) {
        width: 100%;
        padding: 30px 20px;
      }

      p {
        @media (max-width: 630px) {
          font-size: 17px;
          line-height: 1.2;
        }
      }

      .email,
      .password {
        @media (max-width: 630px) {
          height: 50px;
        }
      }

      a {
        @media (max-width: 630px) {
          font-weight: 17px;
        }
      }

      .login-google {
        @media (max-width: 630px) {
          height: 50px;
        }
      }

      .login-btn {
        @media (max-width: 630px) {
          height: 50px;
          margin-top: 10px;
          margin-bottom: 20px;

          .login-btn-register,
          .login-btn-guest {
            @media (max-width: 630px) {
              padding: 8px 13px;
              font-size: 12px;
            }
          }
        }
      }
    }

    .legal-infos {
      a {
        @media (max-width: 630px) {
          font-size: 16px;
        }
      }
    }

    .register-route-resp {
      @include m.dNone;
      @include m.styleFont("Nunito", 18px, 400, 21.6px, black);

      @media (max-width: 630px) {
        @include m.flexBox(column, center, flex-end);
        margin: 20px 0 10px 0;
        position: relative;
        bottom: unset;
        font-size: 16px;
      }

      a {
        margin-top: 12px;
        text-decoration: none;
        color: v.$purple_2;
        box-sizing: border-box;
        padding: 6px 12px;
        transition: 125ms;
        border: 1px solid #797ef3;
        border-radius: 25px;
        border-width: 1px;

        &:hover {
          font-weight: 600;
          box-shadow: 0 0 0 1px v.$purple_2;
        }
      }
    }
  }
}

.header {
  @media (max-width: 630px) {
    justify-content: center;
    margin-left: 0;
    padding: unset;
    margin: 20px 0px;

    .header-left {
      .logo-logo {
        @media (max-width: 630px) {
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  .register-route {
    @media (max-width: 630px) {
      display: none;
    }
  }
}

h2 {
  @media (max-width: 630px) {
    font-size: 32px !important;
    line-height: 1.2 !important;
    text-align: center;
  }
}
