@use "../../mixins.scss" as m;
@use "../../variables.scss" as v;

.login-main {
  @media (max-width: 630px) {
    padding: 0 20px;
  }
  .login {
    .login-header {
      @media (max-width: 630px) {
        justify-content: center;
        margin-left: 0;

        .login-left {
          .logo {
            @media (max-width: 630px) {
              margin-left: 0;

              .logo-logo {
                @media (max-width: 630px) {
                  width: 50px;
                  height: 50px;
                }
              }
            }
          }
        }
      }
      .register-route {
        @media (max-width: 630px) {
          display: none;
        }
      }
    }

    .login-dialog {
      @media (max-width: 630px) {
        width: 100%;
        padding: 30px 20px;
      }

      h2 {
        @media (max-width: 630px) {
          font-size: 32px;
          line-height: 1.2;
        }
      }

      p {
        @media (max-width: 630px) {
          font-size: 17px;
          line-height: 1.2;
        }
      }

      .email,
      .password {
        @media (max-width: 630px) {
          height: 50px;
        }
      }

      a {
        @media (max-width: 630px) {
          font-weight: 17px;
        }
      }

      .login-google {
        @media (max-width: 630px) {
          height: 50px;
        }
      }

      .login-btn {
        @media (max-width: 630px) {
          height: 50px;
          margin-bottom: 20px;
        }
      }
    }

    .legal-infos {
      a {
        @media (max-width: 630px) {
          font-size: 16px;
        }
      }
    }

    .register-route-resp {
      @include m.dNone;
      @include m.styleFont("Nunito", 18px, 400, 21.6px, black);

      @media (max-width: 630px) {
        @include m.flexBox(column, center, flex-end);
        position: fixed;
        bottom: 60px;
        font-size: 16px;
      }

      a {
        margin-top: 12px;
        text-decoration: none;
        color: v.$purple_2;
        box-sizing: border-box;
        padding: 6px 12px;
        border-radius: 100px;
        transition: 125ms;

        &:hover {
          font-weight: 600;
          box-shadow: 0 0 0 1px v.$purple_2;
        }
      }
    }
  }
}
