@use "../../../mixins.scss" as m;
@use "../../../variables.scss" as v;

.password-reset-main {
  height: 100vh;

  .password-reset-header {
    @include m.flexBox(row, flex-start);
    width: 100%;
    margin-top: 75px;
    margin-left: 50px;

    .logo-logo {
        width: 70px;
        height: 70px;
        margin-right: 10px;
      }

      .logo-name {
        height: 24px;
      }
  }
}