<section class="password-reset-main">
  <div class="password-reset-header">
    <div class="logo">
      <img class="logo-logo" src="/img/logo.svg" alt="DABubble Logo" />
      <img class="logo-name" src="/img/logo_name.svg" alt="DABubble" />
    </div>
  </div>
  <div class="password-reset-dialog">
    <h2>Passwort zurücksetzen</h2>
    <span class="description">Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
    <input type="email" placeholder="beispielname@mail.com" />
    <span class="info"
      >Wir senden Ihnen eine E-Mail, über sie Sie Ihr Passwort ändern
      können</span
    >
    <div class="password-request-btn">
      <button>E-Mail senden</button>
    </div>
  </div>
</section>
