<section class="password-reset-main">
  <div class="password-reset-dialog">
    <div class="reg-back-arrow">
      <img
        src="img/arrow_back.png"
        alt="Zurück zur Anmeldung"
        (click)="navigateToLogin()"
      />
    </div>
    <h2>Passwort zurücksetzen</h2>
    <span class="description">Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
    <input class="email" type="email" placeholder="beispielname@mail.com" [(ngModel)]="email" (ngModelChange)="validateEmail()" (keyup.enter)="requestPasswordReset()"/>
    <span class="error-message" *ngIf="emailErrorMessage">
      {{ emailErrorMessage }}
    </span>
    
    <span class="info"
      >Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern
      können</span
    >
    <div class="password-request-btn">
      <button (click)="requestPasswordReset()" [disabled]="!isEmail">E-Mail senden</button>
    </div>
  </div>
  <div class="success-msg" *ngIf="successMessage">
    <img src="img/send.png" alt="Brief Symbol"> 
    <span>{{ successMessage }}</span>
  </div>
</section>
