@use "../../mixins.scss" as m;
@use "../../variables.scss" as v;

.content {
    max-height: 100dvh;
    @include m.flexBox(column, normal, normal);
}

.main-content {
    max-height: calc(100dvh - 119px);
    margin: 0 20px 20px 20px;
    @include m.flexBox(row, space-between, normal);
    gap: 20px;

    // Mobile Layout
    @media (max-width: 1400px) {
        //margin: 0 10px 10px 10px;
        //gap: 10px;
    }
}

app-main-view {
    flex-grow: 1;
}

@media (max-width: 1400px) {

    app-main-view,
    app-thread {
        flex-grow: 1;
        //width: 100%;
    }
}