@use "../../mixins.scss" as m;
@use "../../variables.scss" as v;

.content {
    height: 100%;
    @include m.flexBox(column, normal, normal);
}

.main-content {
    height: 100%;
    margin: 0 20px 20px 20px;
    @include m.flexBox(row, space-between, normal);
}