@use "../../../mixins.scss" as m;
@use "../../../variables.scss" as v;

.password-new-main {
  @include m.flexBox(column, center, center);

  .password-new-dialog {
    @include m.flexBox(column, center, center);
    height: 423px;
    width: 692px;
    background-color: white;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    padding: 50px 100px;

    .reg-back-arrow {
        position: relative;
        width: 100%;
        top: 40px;
        left: -40px;
        cursor: pointer;
  
        img {
          width: 17px;
          height: 17px;
        }
      }

    h2 {
      @include m.styleFont("Nunito", 46px, 700, 55.2px, v.$purple_1);
      margin: 0;
    }

    input {
      border-radius: 100px;
      border: none;
      box-sizing: border-box;
      padding: 12px 30px;
      width: 75%;
      height: 60px;
      margin-top: 20px;
      background-color: v.$purple_bg;
      transition: 125ms box-shadow ease-in-out;

      &:hover {
        box-shadow: 0 0 0 1px black;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 1px v.$purple_1;
      }
    }

    .error-message {
      @include m.styleFont("Nunito", 14px, 400, 19.1px, red);
      width: 75%;
      height: 0;
      text-align: left;
    }

    .password-new-btn {
        @include m.flexBox(row, flex-end, center);
        width: 75%;

      button {
        @include m.styleFont("Nunito", 18px, 700, 24.55px, white);
        background-color: v.$grey;
        border: none;
        border-radius: 100px;
        box-sizing: border-box;
        padding: 10px 20px;
        margin-top: 40px;
        cursor: pointer;

        &.active {
          background-color: v.$purple_1;
        }
      }
    }
  }
}
