<div class="detail-profile" (click)="onClose()">
  <div class="edit-container" (click)="$event.stopPropagation()">
    <div class="profile-detail-headline">
      <h1>Profil</h1>
      <img
        (click)="onClose()"
        (mouseenter)="onMouseEnterClose()"
        (mouseleave)="onMouseLeaveClose()"
        [src]="closeImgSrc"
        alt="Schließen"
      />
    </div>
    <ng-container *ngIf="userName | async as users">
      <img
        class="profile-pic-detail"
        [src]="'/img/avatar/' + users[0]?.avatar"
        alt="Profilepicture-detail-view"
      />

      <div class="user-info" *ngIf="!isEditing">
        <div class="user-wrapper">
          <div class="detail-name">
            <span>{{ users[0]?.name }}</span>
            <div (click)="editUsername()" class="edit">Bearbeiten</div>
          </div>
          <div>Aktiv</div>
        </div>

        <div class="email">
          <div>
            <img src="/img/header-img/header-mail.png" alt="" />
            <span>E-Mail-Adresse</span>
          </div>
          <span class="user-email">{{ users[0]?.mail }}</span>
        </div>
      </div>

      <div class="edit-username" *ngIf="isEditing">
        <div class="edit-username-headline">
          <img src="/img/header-img/account-circle.png" alt="" />
          <span>Vollständiger Name</span>
        </div>
        <div class="edit-username-input">
          <input
            type="text"
            [(ngModel)]="updatedName"
            placeholder="{{ users[0]?.name }}"
          />
        </div>
        <div class="edit-username-buttons">
          <button class="btn-1" (click)="cancelEdit()">Abbrechen</button>
          <button
            class="btn-2"
            (click)="saveUsername()"
            [disabled]="!updatedName || updatedName.trim().length === 0"
          >
            Speichern
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
