<header>
  <div class="header-img">
    <img src="/img/header-img/da-bubble-header-logo.png" alt="" />
  </div>
  <div class="header-input">
    <input type="text" id="search-input" placeholder="Devspace durchsuchen" />
  </div>
  <div class="header-profile" (click)="toggleMenu()">
    <ng-container *ngIf="userName$ | async as user">
      <span>{{ user.name }}</span>
      <img class="profile-pic" [src]="user.avatar" alt="Profilepicture" />
    </ng-container>

    <div class="arrow-wrapper">
      <img class="arrow-default" src="/img/header-img/arrow-down.png" alt="" />
      <img
        class="arrow-hover"
        src="/img/header-img/arrow-down-hover.png"
        alt=""
      />
    </div>
  </div>
</header>

<div class="overlayer" *ngIf="menuOpen" (click)="menuOpen = false">
  <div class="menu" *ngIf="menuOpen" (click)="$event.stopPropagation()">
    <p (click)="toggleProfileEdit()" class="profile">Profil</p>
    <p (click)="logout()" class="log-out">Log out</p>
  </div>

  <app-profile-detail
    *ngIf="profileEditOpen"
    [userName]="userName$ | async"
    (close)="closeProfile()"
  ></app-profile-detail>
</div>
