@use "../../../mixins.scss" as m;
@use "../../../variables.scss" as v;

header {
  @include m.flexBox(row, space-between, center);
  padding: 25px 34px 20px 50px;
}

.header-input {
  flex: 1;
  margin-left: 114px;
  margin-right: 150px;

  input {
    font-family: "Nunito";
    font-weight: 400;
    font-size: 24px;
    background-image: url("../../../../public/img/header-img/search-icon.png");
    background-repeat: no-repeat;
    background-position: right 45px top 18px;
    border: none;
    width: 100%;
    border-radius: 42px;
    padding-top: 17.5px;
    padding-right: 45px;
    padding-bottom: 17.5px;
    padding-left: 45px;

    &:hover {
      box-shadow: 0 0 0 1px v.$purple_2;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 1px v.$purple_1;
    }
  }
}

.header-profile {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;

  .profile-pic {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }

  span {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 32px;
    transition: color 0.1s ease-in-out;
  }

  .arrow-wrapper {
    position: relative;
    display: inline-block;

    img {
      display: block;
      transition: opacity 0.1s ease-in-out;
    }

    .arrow-hover {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }

  &:hover {
    .arrow-wrapper {
      .arrow-default {
        opacity: 0;
      }
      .arrow-hover {
        opacity: 1;
      }
    }
    span {
      color: #797ef3;
    }
  }
}

.overlayer {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
}

.menu {
  width: 220px;
  position: absolute;
  top: 120px;
  right: 20px;
  @include m.flexBox(column, center, center, 15px);
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;

  p {
    cursor: pointer;
    font-family: Nunito;
    font-weight: 600;
    font-size: 24px;
    border-radius: 100px;
    margin: 0;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out,
      font-weight 0.1s ease-in-out;
  }

  .log-out {
    padding: 10px 0px;

    &:hover {
      background-color: #eceefe;
      color: #535af1;
      font-weight: 700;
    }
  }

  .profile {
    padding: 10px 0px;

    &:hover {
      background-color: #eceefe;
      color: #535af1;
      font-weight: 700;
    }
  }
}

.detail-profile {
  width: 500px;
  position: absolute;
  top: 120px;
  right: 20px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 45px 40px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;

  .profile-pic-detail {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  .edit-container {
    @include m.flexBox(column, center, center, 38px);

    .profile-detail-headline {
      @include m.flexBox(row, space-between, center);
      width: 100%;

      img {
        height: 24px;
        width: 24px;
        padding: 6.5px;

        &:hover {
          cursor: pointer;
          background-color: #eceefe;
          border-radius: 50%;
        }
      }
    }

    h1 {
      font-family: Nunito;
      font-weight: 700;
      font-size: 24px;
      line-height: 32.74px;
      letter-spacing: 0%;
      margin: 0;
    }

    .detail-name {
      @include m.flexBox(row, space-between, center);
      width: 100%;
      font-family: Nunito;
      font-weight: 700;
      font-size: 32px;
      line-height: 43.65px;
      letter-spacing: 0%;

      .edit {
        color: #535af1;
        font-family: Nunito;
        font-weight: 600;
        font-size: 18px;
        line-height: 24.55px;
        letter-spacing: 0%;
        transition: font-weight 0.1s ease-in-out;

        &:hover {
          cursor: pointer;
          font-weight: bold;
        }
      }
    }

    .email {
      width: 100%;
      div {
        display: flex;
        gap: 20px;
        align-items: center;
        padding-bottom: 15px;
        span {
          font-family: Nunito;
          font-weight: 700;
          font-size: 20px;
          line-height: 27.28px;
          letter-spacing: 0%;
        }
      }
      .user-email {
        color: #1381ff;
        font-family: Nunito;
        font-weight: 500;
        font-size: 18px;
        line-height: 21.6px;
        letter-spacing: 0%;
      }
    }
  }
}
