<header>
  <div class="header-img">
    <img src="img/header-img/da-bubble-header-logo.png" alt="" />
  </div>


  <!-- <div class="header-input">
    <input type="text" id="search-input" placeholder="Devspace durchsuchen" />
  </div> -->
  

  <div class="header-input">
    <input
      type="text"
      id="search-input"
      [formControl]="searchControl"
      placeholder="Devspace durchsuchen"
    />

    <!-- Ergebnisliste -->
    <div class="search-results-dropdown" *ngIf="searchResults.length > 0">
      <div *ngFor="let result of searchResults" class="search-result-item" (click)="openThreadModal(result)">
        <div class="thread-title">📁 {{ result.title }}</div>
      </div>
      <div class="search-counter" *ngIf="searchResults.length > 0">
        🔍 {{ searchResults.length }} Treffer gefunden
      </div>
    </div>
  </div>


  <div class="modal-overlay" *ngIf="modalOpen" (click)="modalOpen = false">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h3>{{ selectedThreadTitle }}</h3>
      <ul>
        <li *ngFor="let msg of selectedThreadMessages">
          <strong>{{ msg.senderName }}&nbsp;:&nbsp;</strong> {{ msg.text }}
        </li>
      </ul>
      <button (click)="modalOpen = false">Schließen</button>
    </div>
  </div>




  <div class="header-profile" (click)="toggleMenu()">
    <ng-container *ngIf="userName$ | async as user">
      <span>{{ user.name }}</span>
      <div class="profile-pic-wrapper">
        <img class="profile-pic" [src]="user.avatar" alt="Profilepicture" />
        <ng-container *ngIf="onlineStatus$ | async">
          <img
            class="profile-pic-online"
            src="img/header-img/profile-pic-online.png"
            alt="Online Indicator"
          />
        </ng-container>
      </div>
    </ng-container>
    <div class="arrow-wrapper">
      <img class="arrow-default" src="img/header-img/arrow-down.png" alt="" />
      <img
        class="arrow-hover"
        src="img/header-img/arrow-down-hover.png"
        alt=""
      />
    </div>
  </div>
</header>
<div class="overlayer" *ngIf="menuOpen" (click)="menuOpen = false">
  <div class="menu" *ngIf="menuOpen" (click)="$event.stopPropagation()">
    <p (click)="toggleProfileEdit()" class="profile">Profil</p>
    <p (click)="logout()" class="log-out">Log out</p>
  </div>
  <app-profile-detail
    *ngIf="profileEditOpen"
    [userName]="userName$ | async"
    (close)="closeProfile()"
  ></app-profile-detail>
</div>
