<header>
  <div class="header-img">
    <img src="/img/header-img/da-bubble-header-logo.png" alt="" />
  </div>
  <div class="header-input">
    <input type="text" id="search-input" placeholder="Devspace durchsuchen" />
  </div>
  <div class="header-profile" (click)="toggleMenu()">
    <span>Frederick Beck</span>
    <img src="/img/header-img/avatar.png" alt="" />
    <div class="arrow-wrapper">
      <img class="arrow-default" src="/img/header-img/arrow-down.png" alt="" />
      <img
        class="arrow-hover"
        src="/img/header-img/arrow-down-hover.png"
        alt=""
      />
    </div>
  </div>
</header>

<div class="menu" *ngIf="menuOpen">
  <p>Profil</p>
  <p class="log-out">Log out</p>
</div>
