<div class="container">

    <div class="header">
        <div class="header-label">
            <h2>Thread</h2>
            <div>#Entwicklerteam</div>
        </div>
        <div>X</div>
    </div>
    <div class="shadow"></div>

    <div class="thread-header">
        <div>BILD</div>
        <div>
            <div>
                <div>Noah Braun</div>
                <div>14:25 Uhr</div>
            </div>
            <div>
                Welche Version ist aktuell von Angular?
            </div>
        </div>
    </div>

    <div class="replies-spacer">
        <div>2 Antworten</div>
    </div>

    <div class="replies">

        <div class="reply">
            <div>BILD</div>
            <div>
                <div>Sofia Müller</div>
                <div>14:30 Uhr</div>
            </div>
            <div>
                Ich habe die gleiche Frage. Ich habe gegoogelt und es scheint, dass die aktuelle Version Angular 13
                ist. Vielleicht weiß Frederik, ob es wahr ist.
            </div>
            <div>
                <div>EMOJIS</div>
            </div>
        </div>

        <div class="my-reply">
            <div>BILD</div>
            <div>
                <div>Frederik Beck</div>
                <div>15:06 Uhr</div>
            </div>
            <div>
                Ja das ist es.
            </div>
            <div>
                <div>EMOJIS</div>
            </div>
        </div>
    </div>

</div>