<div class="container">
  <div class="header">
    <div class="header-label">
      <ng-container *ngIf="user$ | async as user">
        <div class="profile-pic-wrapper">
          <img class="profile-pic" [src]="user.avatar" alt="Profilepicture" />
          <ng-container
            *ngIf="onlineStatus$ | async as online; else offlineBlock"
          >
            <img
              class="profile-pic-online"
              src="img/direct-messages-img/online.png"
              alt="Online Indicator"
            />
          </ng-container>
          <ng-template #offlineBlock>
            <img
              class="profile-pic-offline"
              src="img/direct-messages-img/offline.png"
              alt="Offline Indicator"
            />
          </ng-template>
        </div>
        <h2>{{ user.name }}</h2>
      </ng-container>
    </div>
  </div>
  <div class="shadow"></div>
  <ng-container *ngIf="messages$ | async as msgs">
    <ng-container *ngIf="(msgs?.length ?? 0) > 0; else infoBlock">
      <div id="chat-container" class="chat-container">
        <div id="replies" class="replies">
          <div
            class="reply-container"
            *ngFor="let msg of msgs"
            [ngClass]="{
              sent: msg?.userId === loggedInUserId,
              received: msg?.userId !== loggedInUserId
            }"
          >
            <div class="reply" *ngIf="user$ | async as user">
              <div class="profile-message-wrapper">
                <img
                  class="profile-message-pic"
                  [src]="msg?.senderAvatar"
                  alt="Profilepicture"
                />
                <ng-container
                  *ngIf="
                    getUserPresence(msg?.userId) | async as online;
                    else offlineBlock
                  "
                >
                  <img
                    class="profile-pic-online"
                    src="img/header-img/profile-pic-online.png"
                    alt="Online Indicator"
                  />
                </ng-container>
                <ng-template #offlineBlock>
                  <img
                    class="profile-pic-message-offline"
                    src="img/header-img/profile-pic-offline.png"
                    alt="Offline Indicator"
                  />
                </ng-template>
              </div>
              <div class="message">
                <div class="message-info">
                  <div
                    (click)="msg?.userId ? showProfile(msg.userId) : null"
                    class="message-info-name"
                  >
                    {{ msg?.senderName || msg?.userId }}
                  </div>
                  <div class="message-info-time">
                    {{ formatMessageDate(msg?.creationDate) }}
                  </div>
                </div>
                <div class="message-text">
                  {{ msg?.text }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #infoBlock>
    <div class="info">
      <ng-container *ngIf="user$ | async as user">
        <div class="info-user">
          <img [src]="user.avatar" alt="Avatar" />
          <span>{{ user.name }}</span>
        </div>
        <div class="info-about-chat">
          <span class="info-text">Diese Unterhaltung findet nur zwischen</span>
          <span class="info-name"> &#64;{{ user.name }} </span>
          <span class="info-text">und dir statt.</span>
        </div>
      </ng-container>
    </div>
  </ng-template>
  <div class="input-container">
    <app-message-input
      [isDirectMessage]="true"
      (newDirectMessage)="onNewMessage($event)"
    ></app-message-input>
  </div>
</div>

<app-profile-view
  *ngIf="profileViewOpen && selectedProfile"
  [userName]="selectedProfile"
  [onlineStatus$]="selectedProfilePresence$"
  (close)="closeProfile()"
></app-profile-view>
