@use "../../../../mixins.scss" as m;
@use "../../../../variables.scss" as v;

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: v.$purple_2;
  border-radius: 5px;

  &:hover {
    background-color: v.$purple_1;
  }
}

::-webkit-scrollbar-track {
  background-color: v.$purple_4;
  margin: 0;
  border-radius: 5px;
}

h2 {
  margin: 0;
  @include m.styleFont("Nunito", 24px, 700, 100%);
}

.container {
  position: relative;
  height: calc(100dvh - 139px);
  width: 100%;
  background-color: #ffffff;
  border-radius: 30px;
  @include m.flexBox(column, normal, normal);
  @include m.styleFont();
}

.header {
  min-height: 96px;
  max-height: 96px;
  margin: 0 40px;
  @include m.flexBox(row, space-between, center);
}

.header-label {
  display: flex;
  align-items: center;
  gap: 15px;
}

.shadow {
  min-height: 5px;
  background: linear-gradient(to bottom, #00000014, #00000000);
}

.chat-container {
  overflow-y: visible;
  overflow-x: hidden;
  padding: 5px 0 0 0;
  flex-grow: 1;
}

.input-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.replies {
  @include m.flexBox(column, normal, normal);
  overflow-y: auto;
  max-height: 420px;
}

.date-header {
  padding: 5px 0;
  @include m.styleFont("Nunito", 14px, 400, 24.55px, v.$purple_4);
  @include m.flexBox(row, center, center);

  .date {
    height: 28px;
    padding: 0 24px;
    @include m.flexBox(row, center, center);
    border: 1px solid v.$purple_4;
    border-radius: 20px;
    cursor: unset;
  }

  &::before {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: v.$purple_4;
    margin-left: 20px;
  }

  &::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: v.$purple_4;
    margin-right: 20px;
  }
}

.reply-container {
  width: 100%;
}

.reply {
  margin: 10px 40px;
  @include m.flexBox(row, normal, normal, 20px);
}

.sent {
  // display: flex;
  // flex-direction: row-reverse;

  .reply {
    flex-direction: row-reverse;
  }

  .message {
    align-items: end;
  }

  .message-info {
    flex-direction: row-reverse;
  }

  .message-text {
    color: white;
    background-color: v.$purple_2;
    border-top-right-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.avatar {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.message {
  width: 100%;
  @include m.flexBox(column, normal, normal, 8px);
}

.message-info {
  @include m.flexBox(row, normal, center, 20px);
}

.message-info-name {
  @include m.styleFont("Nunito", 18px, 700, 24.55px);
  cursor: pointer;

  &:hover {
    color: v.$purple_1;
  }
}

.message-info-time {
  @include m.styleFont("Nunito", 14px, 400, 19.1px, v.$grey);
}

.message-text {
  @include m.styleFont("Nunito", 18px, 400, 24.55px);
  padding: 15px;
  gap: 8px;
  width: fit-content;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #eceefe;
}

.answer-info {
  @include m.flexBox(row, normal, center, 20px);
}

.answers {
  @include m.styleFont("Nunito", 18px, 400, 24.55px, v.$purple_3);
}

.last-answer {
  @include m.styleFont("Nunito", 14px, 400, 19.1px, v.$grey);
}

.profile-pic-wrapper {
  position: relative;

  .profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .profile-pic-online {
    position: absolute;
    right: 0;
    bottom: 2px;
  }

  .profile-pic-offline {
    position: absolute;
    right: 0;
    bottom: 2px;
  }
}

.info {
  @include m.flexBox(column, normal, normal, 24px);
  padding-left: 45px;
  position: absolute;
  bottom: 245px;
  .info-user {
    img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
    }

    span {
      color: black;
      font-family: Nunito;
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }

  .info-about-chat {
    .info-text {
      color: v.$grey;
      font-family: Nunito;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0%;
    }

    .info-name {
      color: v.$purple_3;
      font-family: Nunito;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0%;
      transition: font-weight 100ms ease-in-out;

      &:hover {
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
}

:host ::ng-deep app-message-input .input-area-container {
  margin: 0px 45px 40px 45px;
}
