<div class="devspace-wrapper" [class.hidden]="!isVisible">
  <div class="devspace-content">
    <div class="header">
      <div class="workspace">
        <img src="img/workspacelogo.png" alt="" />
        <span>Devspace</span>
      </div>
      <img src="img/edit_square.png" alt="" />
    </div>

    @for (channel of channels; track $index){
    <p>#{{ channel.name }}</p>
    }

    

    <button (click)="openChannelDialog()">Neuen Channel hinzufügen</button>
    <app-add-channel
      (onSave)="saveChannelToFirestore($event)"
    ></app-add-channel>

    <br /><br />

    <button (click)="toggleElement()">Weg damit</button>

    @for (user of users; track $index) {
    <p *ngIf="isVisible2" [@fadeOut] class="avatar-user">
      <img src="img/avatar/{{ user.avatar }}" alt="" />{{ user.name }}
    </p>
    }

    <a routerLink="/imprint">Imprint</a><br />
    <a routerLink="/policy">Datenschutz</a>
  </div>
</div>
