<div class="devspace-wrapper" [class.hidden]="!isVisible">
  <div class="devspace-content">
    <div class="header">
      <div class="workspace">
        <img src="img/workspacelogo.png" alt="" />
        <span>Devspace</span>
      </div>
      <img class="new-messages-icon" (click)="selectNewMessage()" src="img/edit_square.png" alt="" />
    </div>

    <!-- ✅ Such-Header -->
    <div class="search-header" *ngIf="isSearchActive">
      <span>Search</span>
      <button (click)="clearSearch()">X</button>
    </div>
    

    <!-- ✅ Suchfeld -->
    <div class="search-input-ctn">
      <input
        class="input"
        type="text"
        placeholder="Gehe zu..."
        [(ngModel)]="searchInput"
        (input)="onSearchInputChange(searchInput)"
      />
    </div>


    <div class="channel-and-user-list-ctn">
      <!-- 🔁 Channel-Bereich -->
      <div class="channel-list-ctn">
        <div class="channel-header">
          <div class="channel-sub-header" (click)="toggleChannelVisibility()">
            <svg [class.channel-rotate]="!isChannelVisible" width="30" height="30">
              <!-- Icon ... -->
            </svg>
            <div>
              <svg width="24" height="24"><!-- Icon --></svg>
              <span>Channels</span>
            </div>
          </div>
          <img (click)="openChannelDialog()" src="img/add.png" alt="Add Icon" />
        </div>

        <div class="channel-list">
          <!-- Normale Channels -->
          <ng-container *ngIf="!isSearchActive && isChannelVisible">
            <span *ngFor="let channel of userChannels; trackBy: trackByIndex"
                  (click)="selectChannel(channel)"
                  class="single-channel"
                  [@fadeOut]>
              {{ '#' + channel.name }}
            </span>
          </ng-container>

          <!-- Gefilterte Channels -->
          <ng-container *ngIf="isSearchActive && searchType === 'channel'">
            <span *ngFor="let channel of filteredChannels; trackBy: trackByIndex"
                  (click)="selectChannel(channel)"
                  class="single-channel filtered"
                  [@fadeOut]>
              {{ '#' + channel.name }}
            </span>
          </ng-container>
        </div>

        <div class="add-channel-ctn" (click)="openChannelDialog()">
          <svg width="24" height="25"><!-- Icon --></svg>
          <span>Channel hinzufügen</span>
        </div>
      </div>

      <app-add-channel
        [usersArrayFromDevSpace]="users"
        (onSave)="saveChannelToFirestore($event)">
      </app-add-channel>

      <br />

      <!-- 🔁 User-Bereich -->
      <div class="user-list-ctn">
        <div class="user-header" (click)="toggleUserVisibility()">
          <svg [class.channel-rotate]="!isUserVisible" width="30" height="30"><!-- Icon --></svg>
          <div>
            <svg width="24" height="24"><!-- Icon --></svg>
            <span>Direktnachrichten</span>
          </div>
        </div>

        <div class="user-list">
          <!-- Normale Users -->
          <ng-container *ngIf="!isSearchActive && isUserVisible">
            <div *ngFor="let user of users$ | async; trackBy: trackByIndex"
                 class="avatar-user"
                 (click)="selectUserForDirectMessage(user)"
                 [@fadeOut]>
              <div class="avatar-img-with-name">
                <img src="img/avatar/{{ user.avatar }}" alt="" />
                <span>{{ user.name }}</span>
                <div class="online-status" [class.green]="(userPresence.getUserPresence(user.docId!) | async)"></div>
              </div>
              <div class="avatar-you">
                <span *ngIf="userLoggedIn == user.docId">(Du)</span>
              </div>
            </div>
          </ng-container>

          <!-- Gefilterte Users -->
          <ng-container *ngIf="isSearchActive && searchType === 'user'">
            <div *ngFor="let user of filteredUsers; trackBy: trackByIndex"
                 class="avatar-user filtered"
                 (click)="selectUser(user)"
                 [@fadeOut]>
              <div class="avatar-img-with-name">
                <img src="img/avatar/{{ user.avatar }}" alt="" />
                <span>{{ user.name }}</span>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
