<div class="devspace-wrapper" [class.hidden]="!isVisible">
  <div class="devspace-content">
    <div class="header">
      <div class="workspace">
        <img src="img/workspacelogo.png" alt="" />
        <span>Devspace</span>
      </div>
      <img class="new-messages-icon" (click)="showComponent('newMessages')" src="img/edit_square.png" alt="" />
    </div>

    <div class="channel-and-user-list-ctn">
      <div class="channel-list-ctn">
        <div class="channel-header">
          <div class="channel-sub-header">
            <img
              (click)="toggleChannelVisibility()"
              [class.channel-rotate]="!isChannelVisible"
              src="img/arrow_drop_down.png"
              alt="Drop Down Arrow"
            />
            <div>
              <img src="img/workspaces.png" alt="Workspaces Icon" />
              <span>Channels</span>
            </div>
          </div>
          <img (click)="openChannelDialog()" src="img/add.png" alt="Add Icon" />
        </div>

        <div class="channel-list">
          @for (channel of channels; track $index){
          <span (click)="selectChannel(channel)" class="single-channel" *ngIf="isChannelVisible" [@fadeOut]
            >#{{ channel.name }}</span
          >
          }
        </div>
        <div class="add-channel-ctn">
          <img
            (click)="openChannelDialog()"
            src="img/add_circle.png"
            alt="Add Circle Icon"
          />
          <span>Channel hinzufügen</span>
        </div>
      </div>

      <app-add-channel
        [usersArrayFromDevSpace]="users"
        (onSave)="saveChannelToFirestore($event)"
      ></app-add-channel>

      <br />

      <div class="user-list-ctn">
        <div class="user-header">
          <img
            (click)="toggleUserVisibility()"
            [class.channel-rotate]="!isUserVisible"
            src="img/arrow_drop_down.png"
            alt="Drop Down Arrow"
          />
          <div>
            <img src="img/account_circle.png" alt="Account Circle Item" />
            <span>Direktnachrichten</span>
          </div>
        </div>

        <div class="user-list">
          @for (user of users; track $index) {
          <div
            *ngIf="isUserVisible"
            [@fadeOut]
            class="avatar-user"
            (click)="selectUserForDirectMessage(user)"
          >
            <div class="avatar-img-with-name">
              <img src="img/avatar/{{ user.avatar }}" alt="" />
              <span>{{ user.name }}</span>
            </div>
            <div class="avatar-you">
              <span *ngIf="userLoggedIn == user.docId">(Du)</span>
            </div>
          </div>
          }
        </div>
      </div>
    </div>

    <!-- <div class="legal-links">
      <a routerLink="/imprint">Imprint</a><br />
      <a routerLink="/policy">Datenschutz</a>
    </div> -->
  </div>
</div>
