@use "../../../mixins.scss" as m;
@use "../../../variables.scss" as v;

// @include m.styleFont("Nunito", 90px, 700, 1.5, white);
// @include m.flexBox(row, center, center);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button,
svg {
  border: unset;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: v.$purple_2;
  border-radius: 5px;

  &:hover {
      background-color: v.$purple_1;
  }
}

::-webkit-scrollbar-track {
  background-color: v.$purple_4;
  margin: 30px;
  border-radius: 5px;
}

.devspace-wrapper {
  height: calc(100dvh - 139px);
  /* Menu 1 - channels + workspaces */
  /* Auto layout */
  overflow-y: scroll;  
  // position: absolute;
  width: 366px;
  // height: 940px;
  // left: 20px;
  // top: 115px;
  /* White */
  background: #ffffff;
  border-radius: 30px;
  transition: transform 0.5s ease-in-out;
}

.devspace-content {
  width: 100%;
  padding: 32px 30px;
  @include m.flexBox(column, center, flex-start);
  .header {
    @include m.flexBox(row, space-between, center);
    @include m.styleFont("Nunito", 24px, 700, 1.36, #000000);
    width: 100%;
    padding-bottom: 20px;
    .workspace {
      @include m.flexBox(row, center, center, 15px);
      img {
        width: 60px;
        height: 60px;
      }
    }
  }
}

.devspace-add-channel {
  /* News */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 35px;
  gap: 15px;

  width: 306px;
  height: 33px;

  border-radius: 30px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}


.channel-list-ctn {
  width: 100%;
  
  .channel-header {
    width: 100%;
    width: 306px;
    @include m.styleFont("Nunito", 20px, 700, 1.36, #000000);
    @include m.flexBox(row, space-between, center);
    img {
      cursor: pointer;
    }

    .channel-sub-header {
      @include m.flexBox(row, center, center, 15px); 
      
      div {
        @include m.flexBox(row, center, center, 10px);
        img {
          cursor: default;
        }
      }
    }
    padding-bottom: 20px;
  }

  .channel-list {
    width: 100%;
    padding-left: 20px;
    padding-bottom: 13px;
    @include m.styleFont("Nunito", 18px, 400, 1.36, #000000);
    @include m.flexBox(column, flex-start, flex-start, 13px);
  }

  .add-channel-ctn {
    @include m.styleFont("Nunito", 18px, 400, 1.36, #000000);
    @include m.flexBox(row, center, center, 10px);
    padding: 4px 10px;
    img {
      cursor: pointer;
    }
  }
}

.user-list-ctn {
  width: 306px;

  .user-header {
    width: 100%;
    @include m.styleFont("Nunito", 20px, 700, 1.36, #000000);
    @include m.flexBox(row, flex-start, center, 25px);
    padding-top: 3px;
    padding-bottom: 25px;

    img {
      cursor: pointer;
    }

    div {
      @include m.flexBox(row, center, center, 10px);

      img {
        cursor: default;
      }
    }

  }

  .user-list {
    @include m.styleFont("Nunito", 18px, 400, 1.36, #000000);
    @include m.flexBox(column, center, flex-start, 13px);
    padding-left: 25px;
  }
  padding-bottom: 30px;
}


.avatar-user {
  @include m.flexBox(row, center, center, 15px);
  img {
    width: 50px;
    height: auto;
    border-radius: 50%;
  }
}



.legal-links {
  width: 306px;
  @include m.styleFont("Nunito", 24px, 400, 1.36, #000000);
  @include m.flexBox(row, center, center, 20px);
}

.hidden {
  transform: translateX(-150%);
}

.channel-rotate {
  transform: rotate(-90deg);
}




// @include m.styleFont("Nunito", 90px, 700, 1.5, white);
// @include m.flexBox(row, center, center);